{% extends "base.html" %}
{% block content %}

<h1>Tuoteluokka: {{luokka.nimike}}</h1>
<a href="{{base_path}}/tuoteluokka" class="btn btn-success">Näytä kaikki tuoteluokat</a>
{% if user_logged_in %}
	<a href="{{base_path}}/tuoteluokka/{{luokka.tunnus}}/muokkaa" class="btn btn-info">Muokkaa luokan tietoja</a>
	<form method="post" action="{{base_path}}/tuoteluokka/{{luokka.tunnus}}/poista" style="display: inline-block">
		<button class="btn btn-danger">Poista luokka</button>
	</form>
{% endif %}

<h2>Kuvaus</h2>
{{luokka.kuvaus}}

<h2>Luokan sisältämät tuotteet</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Nimike</th>
			<th>Sijainti</th>
			<th>Lähtöhinta</th>
			<th>Sulkeutuu</th>
			<th>Korkein tarjous</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		{% for tuote in tuotteet %}
			<tr>
				<td><a href="{{base_path}}/tuote/{{tuote.tunnus}}">{{tuote.nimi}}</a></td>
				<td>{{tuote.sijainti}}</td>
				<td>{{tuote.lahtohinta}}€</td>
				<td>{{tuote.sulkeutuminen}}</td>
				<td>1000€</td>
				<td><button href="#" class="btn btn-success">Tee tarjous!</button></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}