{% extends "base.html" %}
{% block content %}

<h1>Huutokauppa</h1>

<h2>Myynnissä olevat tuotteet</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Nimike</th>
			<th>Sijainti</th>
			<th>Lähtöhinta</th>
			<th>Sulkeutuu</th>
			<th>Korkein tarjous</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td><a href="{{base_path}}/huutokauppa/1">Tuote 1</a></td>
			<td>Helsinki</td>
			<td>500€</td>
			<td>31.4.2016 23:59</td>
			<td>1000€</td>
			<td><button href="#" class="btn btn-success">Tee tarjous!</button></td>
		</tr>
	</tbody>
</table>

{% endblock %}