{% extends "base.html" %}
{% block content %}

<h1>Tuote 1</h1>

<ul>
	<li><strong>Myyjä:</strong> Joku Jossain</li>
	<li><strong>Yhteystiedot:</strong> joku@jossain.fi, 040-1234567</li>
	<li><strong>Sijainti:</strong> Helsinki</li>
	<li><strong>Lähtöhinta:</strong> 500€</li>
	<li><strong>Korkein tarjous:</strong> 1000€</li>
	<li><strong>Kaupan tila:</strong> <label class="label label-success">Auki</label></li>
	<li><strong>Kauppa sulkeutuu:</strong> 31.4.2016 23:59</li>
</ul>
<a href="{{base_path}}/huutokauppa/1/muokkaa" class="btn btn-info">Muokkaa tuotteen tietoja</a>
<div class="row">
	<h2>Tuotteen kuvaus</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu velit bibendum, rhoncus dui at, finibus justo. Duis sodales sem felis, non dapibus nunc tincidunt eu. Morbi ut est quis leo auctor elementum sit amet ac risus. Proin at condimentum erat. Vestibulum quam nisl, luctus vitae sapien ut, luctus tempor felis. Quisque a ultrices nibh, in suscipit nunc. Sed feugiat mauris quis nisi eleifend luctus. Mauris blandit commodo leo, nec lacinia libero tempor vel. In et nisl eget neque viverra condimentum. Sed ultricies eu felis nec sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam erat volutpat. Donec cursus, lectus quis pretium consequat, enim orci porta tellus, non cursus erat nibh in metus. In neque mauris, auctor eget gravida vitae, aliquet vel orci.</p>
</div>

<h2>Tuotteesta tehdyt tarjoukset</h2>
<button class="btn btn-success">Tee tarjous!</button>
<table class="table">
	<thead>
		<tr>
			<th>Hinta</th>
			<th>Tarjoaja</th>
			<th>Tarjous tehty</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>1000€</td>
			<td><a href="#">Joku Käyttäjä</a></td>
			<td>4.4.2016 11:06</td>
		</tr>
		<tr>
			<td>699€</td>
			<td><a href="#">Toinen Käyttäjä</a></td>
			<td>3.4.2016 16:43</td>
		</tr>
	</tbody>
</table>
{% endblock %}