{% extends "base.html" %}
{% block content %}

{% if viesti != '' %}
<div class="alert alert-success">
	{{viesti}}
</div>
{% endif %}

<h1>Lisää luokitus tuotteelle: {{tuote.nimi}}</h1>

{% if errors %}
  <div class="alert alert-danger">
    <ul>
      {% for error in errors %}
        <li>{{error}}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% if vapaatLuokat is empty == false %}
	<h2>Valitse tuotteelle lisättävä luokka:</h2>
	<form method="post" action="{{base_path}}/tuote/{tuote.tunnus}/lisaa_tuotteelle_luokka">
		<input type="hidden" name="lisattava_tuote" value="{{tuote.tunnus}}" />

		<div class="form-group">
			<select name="lisattava_luokka" class="form-control">
				{% for luokka in vapaatLuokat %}
					<option value="{{luokka.tunnus}}">{{luokka.nimike}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-group">
	      <button type="submit" class="btn btn-primary">Lisää luokitus tuotteelle</button>
	    </div>
	</form>
{% else %}
	<p>Tuote kuuluu jo kaikkiin tuoteluokkiin!</p>
{% endif %}

<a href="{{base_path}}/tuote/{{tuote.tunnus}}" class="btn btn-info">Takaisin tuotteen tietoihin</a>
<a href="{{base_path}}/tuoteluokka" class="btn btn-info">Selaa tuoteluokkia</a>

{% endblock %}