{% extends "base.html" %}
{% block content %}

<h1>Muokkaa tietoja - {{tuote.nimi}}</h1>

{% if errors %}
  <div class="alert alert-danger">
    <ul>
      {% for error in errors %}
        <li>{{error}}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<form method="post" action="{{base_path}}/tuote/{{tuote.tunnus}}/muokkaa">
	<div class="form-group">
		<label>Nimike</label>
		{% if attributes %}
			<input type="text" class="form-control" name="nimi" value="{{attributes.nimi}}"></input>
		{% else %}
			<input type="text" class="form-control" name="nimi" value="{{tuote.nimi}}"></input>
		{% endif %}
	</div>
	<div class="form-group">
		<label>Ikä</label>
		{% if attributes %}
			<input type="text" class="form-control" name="ika" value="{{attributes.ika}}"></input>
		{% else %}
			<input type="text" class="form-control" name="ika" value="{{tuote.ika}}"></input>
		{% endif %}
	</div>
	<div class="form-group">
		<label>Yhteystiedot</label>
		<input type="text" class="form-control" value="joku@jossain.fi, 040-1234567"></input>
	</div>
	<div class="form-group">
		<label>Sijainti</label>
		{% if attributes %}
			<input type="text" class="form-control" name="sijainti" value="{{attributes.sijainti}}"></input>
		{% else %}
			<input type="text" class="form-control" name="sijainti" value="{{tuote.sijainti}}"></input>
		{% endif %}
	</div>
	<div class="form-group">
		<label>Lähtöhinta</label>
		{% if attributes %}
			<input type="number" name="lahtohinta" class="form-control" value="{{attributes.lahtohinta}}"></input>
		{% else %}
			<input type="number" name="lahtohinta" class="form-control" value="{{tuote.lahtohinta}}"></input>
		{% endif %}
	</div>
	<div class="form-group">
		<label>Kauppa sulkeutuu</label>
		{% if attributes %}
			<input type="date" name="sulkeutuminen" class="form-control" value="{{attributes.sulkeutuminen}}"></input>
		{% else %}
			<input type="date" name="sulkeutuminen" class="form-control" value="{{tuote.sulkeutuminen}}"></input>
		{% endif %}
	</div>
	<div class="form-group">
		<label>Tuotteen kuvaus</label>
		{% if attributes %}
			<textarea class="form-control" name="kuvaus">{{attributes.kuvaus}}</textarea>
		{% else %}
			<textarea class="form-control" name="kuvaus">{{tuote.kuvaus}}</textarea>
		{% endif %}
	</div>
	<div class="from-group">
		<label>Linkki tuotekuvaan</label>
		{% if attributes %}
			<input type="url" name="tuotekuva" class="form-control" value="{{attributes.tuotekuva}}" />
		{% else %}
			<input type="url" name="tuotekuva" class="form-control" value="{{tuote.tuotekuva}}" />
		{% endif %}
	</div>
	<div class="from-group">
		<label>Meklari</label>
		{% if attributes %}
			<input type="number" name="meklari" class="form-control" value="{{attributes.meklari}}" />
		{% else %}
			<input type="number" name="meklari" class="form-control" value="{{tuote.meklari}}" />
		{% endif %}
	</div>
	<br />
	<div class="form-group">
      <button type="submit" class="btn btn-success">Tallenna tiedot</button>
    </div>
</form>

{% endblock %}