{% extends "base.html" %}
{% block content %}


{% if viesti != '' %}
<div class="alert alert-success">
	{{viesti}}
</div>
{% endif %}

<h1>{{tuote.nimi}}</h1>

<ul>
	<li><strong>Meklari:</strong> {{meklari.kayttajatunnus}}</a></li>
	<li><strong>Yhteystiedot:</strong> {{meklari.yhteystiedot}}</li>
	<li><strong>Sijainti:</strong> {{tuote.sijainti}}</li>
	<li><strong>Lähtöhinta:</strong> {{tuote.lahtohinta}}</li>
	<li><strong>Korkein tarjous:</strong> 1000€</li>
	<li><strong>Kaupan tila:</strong> <label class="label label-success">Auki</label></li>
	<li><strong>Kauppa sulkeutuu:</strong> {{tuote.sulkeutuminen}}</li>
</ul>

{% if user_logged_in %}
	<a href="{{base_path}}/tuote/{{tuote.tunnus}}/muokkaa" class="btn btn-info">Muokkaa tuotteen tietoja</a>
	<a href="{{base_path}}/tuote/{{tuote.tunnus}}/lisaa_tuotteelle_luokka" class="btn btn-success">Lisää tuotteelle luokitus</a>
	<form method="post" action="{{base_path}}/tuote/{{tuote.tunnus}}/poista" style="display: inline-block;">
		<button class="btn btn-danger">Poista tuote</button>
	</form>
{% endif %}

<div class="row">
	<h2>Tuotteen kuvaus</h2>
	<p>{{tuote.kuvaus}}</p>
</div>

{% if luokat is empty == false  %}
	<div class="row">
		<h2>Tuotteen luokitukset</h2>
		<table class="table">
			{% for luokka in luokat %}
				<tr>
					<td><a href="{{base_path}}/tuoteluokka/{{luokka.tunnus}}">{{luokka.nimike}}</a></td>
					{% if user_logged_in %}
						<td>
							<form method="post" action="{{base_path}}/tuote/{{tuote.tunnus}}/poista/{{luokka.tunnus}}" style="display: inline-block;">
								<button href="" class="btn btn-danger">Poista luokitus</button>
							</form>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	</div>
{% endif %}

<div class="row">
<h2>Tuotteesta tehdyt tarjoukset</h2>
	<button class="btn btn-success">Tee tarjous!</button>

	{% if tarjoukset is empty == false %}
	<table class="table">
		<thead>
			<tr>
				<th>Hinta</th>
				<th>Tarjoaja</th>
				<th>Tarjous tehty</th>
			</tr>
		</thead>

		<tbody>
			{% for tarjous in tarjoukset %}
			<tr>
				<td>{{tarjous.maara}}€</td>
				<td>{{tarjous.yhteystiedot}}</td>
				<td>{{tarjous.aika}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<p>Tuotteesta ei ole vielä tehty tarjouksia!</p>
	{% endif %}
</div>

{% endblock %}