{% extends "base.html" %}
{% block content %}

<h1>Huutokauppa</h1>

<h2>Myynnissä olevat tuotteet</h2>

<a href="{{base_path}}/lisaa_tuote" class="btn btn-success">Lisää tuote</a>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Nimike</th>
			<th>Sijainti</th>
			<th>Lähtöhinta</th>
			<th>Sulkeutuu</th>
			<th>Korkein tarjous</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		{% for tuote in tuotteet %}
			<tr>
				<td><a href="{{base_path}}/tuote/{{tuote.tunnus}}">{{tuote.nimi}}</a></td>
				<td>{{tuote.sijainti}}</td>
				<td>500€</td>
				<td>31.4.2016 23:59</td>
				<td>1000€</td>
				<td><button href="#" class="btn btn-success">Tee tarjous!</button></td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}